@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width" />
        <title>_Layout</title>
    </head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
